.header {
  height: 134px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    border-radius: 30px;
  }

  &__switch {
    &:hover{
      cursor: pointer;
    }
  }

  @media (max-width: 767.98px) {
    height: 114px;
  }

}