.input {
  width: 270px;
  height: 45px;
  padding: 5px 5px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: black;
  transition: 0.5s all;
  &__dark {
    color: rgba(255, 255, 255, 0.3);
    background: #0C0C0C;
    border: 1px solid #FFFFFF;
  }
}