.input {
  padding: 5px 5px 5px 15px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 8px;
  color: black;
  transition: 0.5s all;
  font-size: 13px;
  &__dark {
    color: rgba(255, 255, 255, 0.3);
    background: #0C0C0C;
    border: 1px solid #FFFFFF;
  }
}